n8n-workflow.json
{
  "name": "Pivot 5 - Social Media Image Generator (Test)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-social",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "test-social"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category",
              "name": "category",
              "value": "={{ $json.body.category || 'TOOLS' }}",
              "type": "string"
            },
            {
              "id": "headline",
              "name": "headline",
              "value": "={{ $json.body.headline || 'Test Headline' }}",
              "type": "string"
            },
            {
              "id": "imageUrl",
              "name": "imageUrl",
              "value": "={{ $json.body.imageUrl || 'https://images.unsplash.com/photo-1518770660439-4636190af475?w=1200&q=80' }}",
              "type": "string"
            },
            {
              "id": "postId",
              "name": "postId",
              "value": "={{ $json.body.postId || 'test-' + Date.now() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ratio",
              "name": "ratio",
              "value": "4:5",
              "type": "string"
            },
            {
              "id": "ratio",
              "name": "ratio",
              "value": "1:1",
              "type": "string"
            },
            {
              "id": "ratio",
              "name": "ratio",
              "value": "9:16",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "create-ratios",
      "name": "Create Ratios",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/render_social",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ratio",
              "value": "={{ $json.ratio }}"
            },
            {
              "name": "imageUrl",
              "value": "={{ $('Extract Data').item.json.imageUrl }}"
            },
            {
              "name": "category",
              "value": "={{ $('Extract Data').item.json.category }}"
            },
            {
              "name": "headline",
              "value": "={{ $('Extract Data').item.json.headline }}"
            },
            {
              "name": "footer",
              "value": ""
            },
            {
              "name": "postId",
              "value": "={{ $('Extract Data').item.json.postId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "render-image",
      "name": "Render Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "combineAll"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "true",
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "=Generated {{ $json.images.length }} images successfully",
              "type": "string"
            },
            {
              "id": "images",
              "name": "images",
              "value": "={{ $json.images }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "false",
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error || 'Unknown error' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "responseCode": 500,
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Create Ratios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ratios": {
      "main": [
        [
          {
            "node": "Render Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Image": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-07T00:00:00.000Z",
  "versionId": "1"
}
